
.tickerContainer {
    width: 100%;
    overflow: hidden;
    height: 300px;
    font-size: 18px;
    
  }
  
  .tickerContent {
    display: flex;
    flex-direction: column;
    animation: tickerAnimation 100s linear infinite;
  }
  
  .tickerItem {
    white-space: nowrap;
  }
  
  /* Keyframes for the scrolling animation */
  @keyframes tickerAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  