



.tickerContainer {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    font-size: 18px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #671ae4 #671ae441;
    scrollbar-width: thin;
    background-color: #040111; 
    padding: 1em;
    
  }



  .tickerContainer th {
    background-color: #040111; 
 
    
  }
  
 


  